  .banner{
    background-image: url(assets/hero-bg.png);
     width: 1600px;
    height: 760px;
    /* border: 1px solid #1A0B2E; */
    background-repeat: no-repeat;
    padding-top: 101px;
    
  }
  .navbar{
    max-width: 1600px;
  }
  .circle{
    background-image: url(assets/hero-circle.png);
    width: 350px;
    height: 350px;
    /* padding-top: 101px; */
     margin-right: 425px;
     /* margin-bottom: 309px; */
     margin-left: 625px;
  }
  .box{
  display: grid;
 grid-template-columns: repeat( 4, 1fr);
 justify-content: center;
  margin: 160px 200px 0px 280px;
  
 
 
  }
  .card{
    display: grid;
    gap: 20px;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr)  
     
  }
  . 

  .box p {
  /* font-size: 14px;
  opacity: 0.8; */
  }
  
  
  
  .footer{
    background-image: url(assets/footer-bg.png);
    width: 1600px;
    height: 412px;
  }
  .all-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
  }
  .box-1{
    border-radius: 20px;
    grid-row: span 2;
  }
  .box-2{
    border-radius: 20px;
    grid-column: span 2;
  }
  .box-3{
    border-radius: 20px;
    grid-column: span 2;
  }
  .box-4{
    border-radius: 20px;
    grid-column: span 2;
  }
  .box-5{
    border-radius: 20px;
   
  }
   